body{
    @include setCircularStdFont('Book');
    font-size: 1em;
    color : white;
    background : grey;
}

button, input{
    background-color: transparent;
    color : inherit;
    font-family: inherit;
    border : none;
    padding : 0;
    margin : 0;
}

button {
    cursor: pointer;
}

input{
    &:focus{
        outline: none;
        border : none;
    }
}

ul {
    list-style: none;
    padding : 0;
    margin : 0;
}

svg {
    fill : inherit;
}

*, *::before, *::after{
    box-sizing: border-box;
}


