.left-side{
    height : 100%;
    width : 25%;
    background-color : $grey-21;

    &--grey-25 {
        background-color : $grey-25;
    }

    @include setScrollBar(transparent);
            overflow-y: scroll;

    &:hover::-webkit-scrollbar-thumb {
        background-color: $grey-32;
    }
}