.main{
    background-color: $grey-18;
    flex : 1;
    display: flex;
    margin-left : $sidebar-width;
    min-height: calc(100vh - 20px); // $header-height

    @include setMediaScreen(tablette){
        margin-left : 0
    }
}