.scroll-y{
    height : calc(100vh  - 20px); // $header-height
    @include setScrollBar(transparent);
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $grey-47;
        border-radius: 30px;
    }
}