html{
    overflow : hidden;
}

body{
    @include setCircularStdFont('Book');
    font-size: 1em;
    color : white;
    background : $grey-32;
}

button, input{
    background-color: transparent;
    color : inherit;
    font-family: inherit;
    border : none;
    padding : 0;
    margin : 0;
}

button {
    cursor: pointer;
}

input{
    &:focus{
        outline: none;
        border : none;
    }
}

ul {
    list-style: none;
    padding : 0;
    margin : 0;
}

a, a:visited  {
    color : rgb(35,164,244);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}



svg {
    fill : inherit;
}

img,svg{
    vertical-align: bottom;
}

*, *::before, *::after{
    box-sizing: border-box;
}

*:focus{
    outline : none;
}

[contenteditable=true]:empty:before{
    content: attr(title);
    pointer-events: none;
    display: block; /* For Firefox */
}

.modal {
    display : none;
}

.show {
    display : block;
}
