.btn-nav{
    color: $grey-193;
    padding: 6px 9px;
    border-radius: 4px;
    cursor : pointer;

    &:hover{
        color : lighten($grey-193, 20)
    }

    &--active {
        color: white;
        background-color: $grey-89;
    }

}