.sidebar{
    background-color : $grey-21;
    height : 100%;
    width : 33%;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding : 30px 0 0 0;

    &__content{
        width: 223px;
    }

}