.input-default {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 13px;
    border-radius: $border-radius;
    transition: box-shadow 0.2s, border 0.2s;

    &--colorA {
        color : white;
        background-color: $grey-25;
        border: 1px solid $grey-11;
        &:focus {
            border: 1px solid $primary;
            box-shadow: 0 0 1px lighten($primary, 15%), inset 0 0 1px darken($primary, 15%);
        }
        &::placeholder{
            color : $grey-89; 
        }
    }
}