/* 
    setCircularStdFont
    Permet de set la font-family CircularStdFont à partir du style désiré
    @param {string} $style
*/
@mixin setCircularStdFont($style) {
    font-family: 'CircularStd-' + $style;
}

/* 
    setSize
    Permet de set la size d'un element facilement
    @param $width
    @param $height
*/
@mixin setSize($width, $height : $width){
    width : $width;
    height : $height;
}

@mixin setCircle($median){
    width : $median;
    height : $median;
    border-radius : $median;
}

@mixin setSizeFullContainer(){
    width : 100%;
    height : 100%;
}

@mixin setFlexCenter(){
    display : flex;
    align-items: center;
}

@mixin setScrollBar($color){
    overflow: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color;
        border-radius: 30px;
    }
}