// Grey color variables
$grey-11: rgb(11, 11, 11);
$grey-18: rgb(18, 18, 18);
$grey-21: rgb(21, 21, 21);
$grey-25: rgb(25, 25, 25);
$grey-32: rgb(32, 32, 32);
$grey-47: rgb(47, 47, 47);
$grey-59: rgb(59, 59, 59);
$grey-89: rgb(89, 89, 89);
$grey-113: rgb(113, 113, 113);
$grey-127: rgb(127, 127, 127);
$grey-142: rgb(142, 142, 142);
$grey-166: rgb(166, 166, 166);
$grey-193: rgb(193, 193, 193);
$grey-215: rgb(215, 215, 215);

$green: #1db954;
$orange: #faa81a;
$red: #ed4245;

// Background color variales
$background-color-primary: $grey-11;
$background-color-secondary: $grey-18;
$background-color-tertiary: $grey-21;

// Typographu variables
$circularStd-styles: ("Black", "BlackItalic", "Bold", "BoldItalic", "Book", "BookItalic", "Medium", "MediumItalic");

$border-radius: 4px;
